@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo Flexcel Report</h1>
    <p class="lead">Config dynamic data</p>
    <p class="lead">Support extension: xlsx, docx, pdf, tif, csv..</p>
    <p class="lead">Demo config & export excel</p>
    <p class="lead">Use pdfjs to view pdf</p>
    <p>
        <a href="/pdfjs/viewer.html?file=/Report/StudentList" target="_blank" class="btn btn-primary btn-lg">View Result &raquo;</a>
        <a href="/Report/Download" target="_blank" class="btn btn-primary btn-lg">Download File&raquo;</a>
    </p>
</div>

